/*html, body, .map-page, #map, #index {
	height: 100%;
}
*/

html, body {
  height: 100%
}

#map {
  height: 98%;
}

div[data-role="page"] {
  height: 100%;
}

.ui-content {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 40px;
	left: 0;
	padding: 0 !important;
}

.popup-heading {
  color: rgba(134,255,154,1)!important;
  font-size: 14px;
  text-shadow: 0px 0px 0px #000;
}

div.settings-input {
  float: right;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.names-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5em;
}
.names-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.names-flipswitch.ui-flipswitch {
    width: 7em;
}
.names-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 5em;
    width: 1.875em;
}

@media screen and (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch*/
    .ui-field-contain > label + .names-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}

.dates-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -6em;
}
.dates-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.dates-flipswitch.ui-flipswitch {
    width: 8em;
}
.dates-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 6em;
    width: 1.875em;
}

@media screen and (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch*/
    .ui-field-contain > label + .dates-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}

div.settings-input {
  float: left;
}

.map-popup{
  color: #333;
  text-shadow: 0px 1px 0px #f3f3f3;
}

/*This forces text, which is inside a jqm listview, to wrap rather than 'ellipses'*/
#dataset-info li,h2,.dataset-description,p {
  white-space: normal !important;
}

.compensate-for-jqm-listview-negative-margin {
  margin-bottom: 15px;
}


/*These needed for forcing footer to be in correct place*/
.ui-footer {
    position:absolute !important;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
}
.leaflet-bottom {
  bottom: 0px;
}

.ui-btn-right {
  top: 0em;
  right: 0.4em;
}

.footer-menu {
  font-size: 10px !important;
  font-weight: normal !important;
}

.ui-footer .ui-title {
  margin: -1.2em 1em;
}

.footer-menu.add-more{
  float: right;
}

a:focus {
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}

.ui-navbar ul {
  margin-top: -5px;
  margin-left: 1px;
  margin-right: 5px;
}

.summary-table {
  width: 100%;
}

.summary-table tr {
  width: 100%;
  border-collapse: collapse;
}

.summary-table tr {
    border-bottom: 1px solid #555;
    text-align: center;
}

.summary-table td:first-child {
    text-align: left;
}

.summary-table th:first-child {
    text-align: left;
}

.datasets a {
  font-weight: normal !important;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: normal !important;
}

.ui-popup {
  padding-right: 0.5em !important;
  background-color: rgba(42,42,42,0.8) !important;
}

.random-reserve-popup > p {
  text-align: center;
}

.random-reserve-popup > h4 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

.app-highlight {
  color: #dfff00;
}

.app-title {
  margin-top: 5px;
  color: #dfff00;
  font-size: 1.5em !important;
  font-weight: normal;
  text-align: center;
}

