html, body, .map-page, #map, #index {
	height: 100%;
}

.ui-content {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 40px;
	left: 0;
	padding: 0 !important;
}

.popup-content {
  height: 100px;
  overflow: auto;
}